<div class='nested-fields'>
  
  <%= f.input  :variety %>
  <%= f.input  :percentageofplanting %>
  <%= f.input  :varietybedfeet %>
  <%= f.input  :transplantflats %>
  <%= link_to_remove_association "remove variety", f %>
</div>
