<table>
  <thead>
    <tr>
      <th>Crop</th>
      <th colspan="5"></th>
      <th>Planting</th>
      <th colspan="5"></th>
      <th>Variety</th>
      <th colspan="5"></th>
      <th>Bed Feet</th>
      <th colspan="5"></th>
      <th>Field Date</th>
      <th colspan="5"></th>
      <th>Rows per bed</th>
      <th colspan="5"></th>
      <th>In Row Spacing</th>
      <th colspan="5"></th>
      <th>Seeds per row foot</th>
      <th colspan="5"></th>

  </thead>
<% @varieties.each do |x| %>

    <td><%= x.planting.crop.name %></td>
    <td colspan="5"></td>
  <td><%= x.planting.planting %></td>
  <td colspan="5"></td>
    <td><%= x.variety %></td>
    <td colspan="5"></td>
    <td><%= x.varietybedfeet %></td>
    <td colspan="5"></td>
    <td><%= x.planting.fielddate %>
      <td colspan="5"></td>
    <td><%= x.planting.crop.rowsperbed.to_i %>
      <td colspan="5"></td>
      <td><%= x.planting.crop.inrowspacing %>
        <td colspan="5"></td>
        <td><%= x.planting.crop.seedsperrowfoot %>
          <td colspan="5"></td>
          
  </tr>
<% end %>
<%= link_to 'Back', crops_path %>
